<robot name="robot_name">
  <gazebo>
    <plugin
      filename="ignition-gazebo-sensors-system"
      name="gz::sim::systems::Sensors">
    </plugin>
  </gazebo>

  <gazebo reference="depth_camera">
    <sensor name="depth_camera" type="depth_camera">
      <pose> 0 0 0 0 0 0 </pose>
      <visualize>true</visualize>
      <update_rate>30</update_rate>
      <camera>
        <camera_info_topic>camera/depth/camera_info</camera_info_topic>
        <horizontal_fov>1.089</horizontal_fov>
        <image>
          <format>R_FLOAT32</format>
          <width>480</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>100</far>
        </clip>
      </camera>
      <topic>/camera/depth/image_raw</topic>
      <gz_frame_id>base_depth_camera</gz_frame_id>
    </sensor>
    <sensor name="camera" type="camera">
      <pose> 0 0 0 0 0 0 </pose>
      <visualize>true</visualize>
      <update_rate>30</update_rate>
      <camera>
        <camera_info_topic>camera/rgb/camera_info</camera_info_topic>
        <horizontal_fov>1.089</horizontal_fov>
        <image>
          <format>R8G8B8</format>
          <width>480</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>1000</far>
        </clip>
      </camera>
      <topic>/camera/rgb/image_raw</topic>
      <gz_frame_id>base_depth_camera</gz_frame_id>
    </sensor>
    <sensor name="navsat" type="navsat">
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <topic>navsat</topic>
    </sensor>
    <sensor name="magnetometer" type="magnetometer">
      <alwaysOn>true</alwaysOn>
      <updateRate>30</updateRate>
      <!-- <bodyName>base_link</bodyName> -->
      <topic>magnetometer</topic>
      <declination>-9.3748</declination>
    <inclination>-36.7067</inclination>
      <!-- <offset>1 1 1</offset> -->
      <!-- <drift>0.0 0.0 0.0</drift> -->
      <!-- <gaussianNoise>0.0 0.0 0.0</gaussianNoise> -->
      <!-- <declination>-9.3748</declination> -->
      <!-- <inclination>-36.7067</inclination> -->
      <!-- <magnitude>0.0000224340</magnitude>  22434.0 nT -->
      <!-- <referenceHeading>0</referenceHeading> -->
      <!-- <useMagneticFieldMsgs>true</useMagneticFieldMsgs> -->
    </sensor>
  </gazebo>
</robot>